@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
	font-family: 'Poppins', sans-serif;
}

.customShadow {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.cardShadow {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}
